@import './colors';

.contact-form {
    width: 100%;
    height: 70vh;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    background-color: $cream-color;
    color: $secondary-color;
    font-size: 2rem;
    font-weight: bolder;
}
.Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        padding: 3rem;
        color: $secondary-color;
        font-size: 18px;
        span {
            display: block;
            margin-top: 2.2rem;
        }
    }
}
