@import "colors";
@import "mixins";

.header {
    position: sticky;
    top: 0;

    nav {
        @include flex-center;
        justify-content: space-between;
        height: 4rem;
        background-color: $main-color;

        .ul-items {
            list-style: none;

            .li-items {
                a {
                    text-decoration: none;
                    color: $secondary-color;
                    margin: 0 1rem;
                    font-size: 16px;
                }

                .orange {
                    color: $orange-section;
                }
            }
        }
        .logo {
            text-transform: uppercase;
            margin-right: 2rem;
        }
        .right {
            @include flex-center;
            .search {
                @include flex-center;
               margin-right: 5rem;
             

                .search-icon {
                     color: $grey-color;
                     font-size:20px;
                }
            }
            .search-btn {
                background: none;
                border: none;
                cursor:pointer;
            }
        }

        .right-buttons {
            @include flex-center;
            margin-right: 1rem;
            color: black;

            button {
                margin: 0 1rem;
                background: none;
                border: none;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: $grey-color;
                }
            }
            .basket {
                color: $basket-color;
            }
        }
    }
}
